<!DOCTYPE html>
<html>
  <head>
    <title>picob</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" >
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/javascripts/knockout-3.0.0.js"></script>
    <script type="text/javascript" src="/javascripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="/javascripts/picob.entry.js"></script>
    <link rel='stylesheet' href='/stylesheets/cssreset-min.css' />
    <link rel='stylesheet' href='/stylesheets/picob.common.css' />
    <link rel='stylesheet' href='/stylesheets/picob.entry.css' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Quicksand' type='text/css'>
  </head>
  <body>
    <%- partial('part_header', params.header) %>
    <div id="container">
      <%- partial('part_entry', params) %>
    </div>
  </body>
</html>
