<!DOCTYPE html>
<html>
  <head>
    <title>feeling.gallery</title>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/picob.js"></script>
    <link rel='stylesheet' href='/stylesheets/cssreset-min.css' />
    <link rel='stylesheet' href='/stylesheets/picob.css' />
  </head>
  <body>
    <div id="container">
      <div style="font-size: 20px; margin-bottom: 10px; color: white;">テスト用ログイン画面</div>
      <div id="login-control">
        <div class="login-button">
          <button id="twitter-login-button">Twitterでログイン</button>
        </div>
        <div class="login-button">
          <button id="facebook-login-button">facebookでログイン</button>
        </div>
      </div>
    </div>
  </body>
</html>
