<div id="social-button-container">
  <div class="hatena"></div>
  <div class="facebook"></div>
  <div class="twitter"></div>
</div>
<div id="main-logo"></div>
<div id="catch-copy">1クリックで今日の自分を記録しよう</div>
<div id="catch-copy-mini">1クリックで<br>今日の自分を記録しよう</div>
<div id="login-control">
  <div class="login-button">
    <form method="POST" action="/login/twitter">
      <input type="hidden" name="_csrf" value="<%= csrftoken %>">
      <input type="submit" id="twitter-login-button" value="Twitterでログイン">
    </form>
  </div>
  <div class="login-button">
    <form method="POST" action="/login/facebook">
      <input type="hidden" name="_csrf" value="<%= csrftoken %>">
      <input type="submit" id="facebook-login-button" value="facebookでログイン">
    </form>
  </div>
</div>
<div id="introduction">
  <div id="question-mark"></div>
  <div class="caption">picobってなに？</div>
  <div class="text">
    <span>毎日の気分を記録するWebアプリです。</span><br>
    <span>３つのボタンから今日の気分に合うものをクリックするだけ。</span><br>
    <span>いますぐ簡単に使用できます。</span>
  </div>
  <div id="application-image">
    <div id="iphone"></div>
    <div id="mac"></div>
  </div>
</div>
<div id="twitter-time-line">
  <a class="twitter-timeline"  href="https://twitter.com/search?q=%23picob"  data-widget-id="460475358626586624">#picob に関するツイート</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div id="login-bottom">
  <a href="/agreement">利用規約</a>
  <span class="separator">|</span>
  <a href="/privacy_policy">プライバシーポリシー</a>
</div>
