<!DOCTYPE html>
<html>
  <head>
    <title>picob - unknown</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" >
    <link rel='stylesheet' href='/stylesheets/cssreset-min.css' />
    <link rel='stylesheet' href='/stylesheets/picob.common.css' />
  </head>
  <body>
    <%- partial('part_simple_header') %>
    <div id="container">
      <p>対象のユーザーは表示できません。</p>
    </div>
  </body>
</html>
