<!DOCTYPE html>
<html>
  <head>
    <title>picob</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" >
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/picob.js"></script>
    <link rel='stylesheet' href='/stylesheets/cssreset-min.css' />
    <link rel='stylesheet' href='/stylesheets/picob.common.css' />
    <link rel='stylesheet' href='/stylesheets/picob.css' />
  </head>
  <body>
    <div id="container">
      <p>対象のユーザーは表示できません。</p>
    </div>
  </body>
</html>
