$small: "only screen and (max-width:899px)";
$large: "only screen and (min-width:900px)";
$base_charctor_color: #000000;
@mixin box-shadow($settings...) {
    -moz-box-shadow: $settings;
    -webkit-box-shadow: $settings;
    box-shadow: $settings;
}
@mixin border-radius($settings...) {
    -webkit-border-radius: $settings;
    -moz-border-radius: $settings;
    border-radius: $settings;
}

#container {
    #main-container {
        overflow: hidden;
        #left-container {
            @media #{$small} {
                width: 100%;
            }
            @media #{$large} {
                float: left;
                width: 50%;
                height: 100%;
            }
            .container-film {
                padding: 10px;
                background-color: rgba(255,255,255,0.70);
                @media #{$large} {
                    margin-right: 5px;
                    /* rightとleftのcontainer高さを揃えるための処置 */
                    padding-bottom: 32767px;
                    margin-bottom: -32767px;
                }
            }
            #feeling {
                &.good {
                    background: url(/images/good_selected_256.png) no-repeat center;
                }
                &.normal {
                    background: url(/images/normal_selected_256.png) no-repeat center;
                }
                &.bad {
                    background: url(/images/bad_selected_256.png) no-repeat center;
                }
                &.none {
                    background: url(/images/none_256.png) no-repeat center;
                }
                @media #{$small} {
                    &.good, &.normal, &.bad, &.none {
                        background-size: 92px 92px;
                    }
                    height: 92px;
                }
                @media #{$large} {
                    height: 250px;
                }
            }
            .feeling-selector {
                font-size: 20px;
                margin: 10px 0px;
                overflow: hidden;
                #feeling-choices-container {
                    @media #{$small} {
                        width: 174px;
                    }
                    @media #{$large} {
                        width: 384px;
                    }
                    margin: 0 auto;
                    .feeling-choices {
                        display: block;
                        float: left;
                        &.feeling-good {
                            background: url(/images/good_128.png) no-repeat center;
                        }
                        &.feeling-good:hover {
                            background: url(/images/good_hover_128.png) no-repeat center;
                        }
                        &.feeling-normal {
                            background: url(/images/normal_128.png) no-repeat center;
                        }
                        &.feeling-normal:hover {
                            background: url(/images/normal_hover_128.png) no-repeat center;
                        }
                        &.feeling-bad {
                            background: url(/images/bad_128.png) no-repeat center;
                        }
                        &.feeling-bad:hover {
                            background: url(/images/bad_hover_128.png) no-repeat center;
                        }
                        @media #{$small} {
                            height: 48px;
                            width: 48px;
                            margin: 0 5px;
                            &.feeling-good, &.feeling-good:hover,
                            &.feeling-normal, &.feeling-normal:hover,
                            &.feeling-bad, &.feeling-bad:hover {
                                background-size: 48px 48px;
                            }
                        }
                        @media #{$large} {
                            height: 128px;
                            width: 128px;
                        }
                    }
                }
            }
        }
        #right-container {
            color: #000000;
            @media #{$large} {
                float: left;
                width: 50%;
            }
            .container-film {
                @media #{$large} {
                    margin-left: 5px;
                }
            }
            #date {
                margin-bottom: 10px;
                text-align: center;
                background-color: rgba(255,255,255,0.70);
                font-family: 'Quicksand', sans-serif;
                @media #{$small} {
                    margin-top: 10px;
                    font-size: 35px;
                }
                @media #{$large} {
                    height: 75px;
                    font-size: 65px;
                }
            }
            #feeling-text-container {
                padding: 15px;
                background-color: rgba(255,255,255,0.70);
                @media #{$small} {
                    height: 63px;
                }
                @media #{$large} {
                    height: 90px;
                }
                #feeling-text-icon {
                    float: left;
                    background: url(/images/comment_128.png) no-repeat center;
                    background-color: #029CCC;
                    @media #{$small} {
                        height: 54px;
                        width: 70px;
                        background-size: 64px 64px;
                        @include border-radius(17px 0px 0px 17px);
                    }
                    @media #{$large} {
                        height: 75px;
                        width: 100px;
                        background-size: 94px 94px;
                        @include border-radius(20px 0px 0px 20px);
                    }
                }
                #feeling-text {
                    //margin-left: 5px;
                    text-align: center;
                    float: left;
                    background-color: #3AAACF;
                    color: #FFFFFF;
                    @media #{$small} {
                        height: 54px;
                        width: 215px;
                        @include border-radius(0px 17px 17px 0px);
                        font-size: 35px;
                    }
                    @media #{$large} {
                        height: 75px;
                        width: 305px;
                        @include border-radius(0px 20px 20px 0px);
                        font-size: 55px;
                    }
                    .text {
                        padding: 5px 10px;
                    }
                }
            }
            #feeling-text-selector {
                padding: 5px 15px 15px 15px;
                background-color: rgba(255,255,255,0.70);
                .feeling-group {
                    @media #{$small} {
                        margin-bottom: 5px;
                    }
                    @media #{$large} {
                        margin-bottom: 10px;
                    }
                    .feeling-group-title {
                        clear: both;
                        font-family: 'Quicksand', sans-serif;
                        @media #{$small} {
                            font-size: 20px;
                        }
                        @media #{$large} {
                            font-size: 25px;
                        }
                    }
                    .feeling-text-container {
                        overflow: hidden;
                        @media #{$small} {
                            margin: 2px 13px;
                        }
                        @media #{$large} {
                            margin: 5px 20px;
                        }
                        .feeling-text-choices {
                            float: left;
                            margin-bottom: 5px;
                            padding: 5px 10px;
                            @include border-radius(8px);
                            color: #FFFFFF;
                            @media #{$small} {
                                margin-right: 7px;
                                font-size: 15px;
                            }
                            @media #{$large} {
                                margin-right: 10px;
                                font-size: 20px;
                            }
                        }
                    }
                    &.good {
                        .feeling-text-choices {
                            background-color: #01BCB6;
                            @include box-shadow(0px 4px 0px #047A70);
                        }
                        .feeling-text-choices:hover {
                            background-color: #00D8D1;
                        }
                    }
                    &.normal {
                        .feeling-text-choices {
                            background-color: #FFB273;
                            @include box-shadow(0px 4px 0px #6D4C31);
                        }
                        .feeling-text-choices:hover {
                            background-color: #FFC392;
                        }
                    }
                    &.bad {
                        .feeling-text-choices {
                            background-color: #FF7373;
                            @include box-shadow(0px 4px 0px #964343);
                        }
                        .feeling-text-choices:hover {
                            background-color: #FF9090;
                        }
                    }
                }
            }
        }
    }
    #bottom-container {
        overflow: hidden;
        margin-top: 10px;
        text-align: center;
        color: #FFFFFF;
        @media #{$small} {
            font-size: 30px;
        }
        @media #{$large} {
            font-size: 50px;
        }
        div {
            float: left;
            background-color: rgba(255,255,255,0.70);
        }
        a {
            display: block;
            padding: 10px;
        }
        #prev-date {
            width: 33%;
        }
        #next-date {
            width: 33%;
        }
        #switch-calendar {
            width: 34%;
        }
    }
}

.feeling-text {
    text-align: center;
    @media #{$small} {
        display: none;
    }
    @media #{$large} {
        margin-top: 6px;
        font-size: 16px;
    }
}
