$small: "only screen and (max-width:899px)";
$large: "only screen and (min-width:900px)";
$base_charctor_color: #000000;
@mixin box-sizing() {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#header {
    width: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
    #global-navi {
        margin: 0 auto;
        overflow: hidden;
        @include box-sizing();
        @media #{$small} {
            width: 320px;
            padding: 5px 5px 3px 5px;
        }
        @media #{$large} {
            width: 900px;
            padding: 10px 10px 5px 10px;
        }
        #navi-left {
            float: left;
            width: 33%;
            #logo {
                font-family: 'Quicksand', sans-serif;
                @media #{$small} {
                    font-size: 20px;
                }
                @media #{$large} {
                    position: relative;
                    top: -5px;
                    font-size: 27px;
                }
            }
        }
        #navi-center {
            float: left;
            width: 34%;
        }
        #navi-right {
            float: right;
            width: 33%;
            text-align: right;
            #logout-button {
                padding: 5px;
                border: none;
                background-color: #FFFFFF;
                color: #000000;
            }
        }
    }
}

#controler {
    width: 100%;
    overflow: hidden;
    @media #{$small} {
        margin-top: 3px;
    }
    @media #{$large} {
    }
    #controler-inner {
        overflow: hidden;
        div {
            float: left;
        }
        #month-controler {
            @media #{$small} {
                font-size: 16px;
            }
            @media #{$large} {
                font-size: 23px;
            }
            a, span {
                display: block;
                float: left;
            }
            #next-month, #prev-month {
                @include box-sizing();
                @media #{$small} {
                    width: 15px;
                }
                @media #{$large} {
                    width: 35px;
                }
            }
            #prev-month {
                text-align: left;
                padding-top: 1px;
                @media #{$small} {
                    padding-right: 2px;
                }
                @media #{$large} {
                    padding-right: 12px;
                }
            }
            #next-month {
                text-align: right;
                padding-top: 1px;
                @media #{$small} {
                    padding-left: 2px;
                }
                @media #{$large} {
                    padding-left: 12px;
                }
            }
            #current-ym {
                text-align: center;
                @media #{$small} {
                    width: 65px;
                }
                @media #{$large} {
                    width: 100px;
                }
                padding: 0px 3px;
                font-family: 'Quicksand', sans-serif;
            }
        }
    }
}

#calendar {
    width: 883px;
    margin: 0 auto;
    .week {
        clear: both;
    }
    .piece, .empty-piece, .dummy-piece {
        @media #{$small} {
            width: 34px;
            height: 34px;
            padding: 3px;
            margin: 2px 2px;
            &.good {
                background-color: #01BCB6;
            }
            &.normal {
                background-color: #FFB273;
            }
            &.bad {
                background-color: #FF7373;
            }
        }
        @media #{$large} {
            width: 100px;
            height: 100px;
            padding: 10px;
            margin: 3px 3px;
        }
        float: left;
        background-color: rgba(255,255,255,0.50);
        color: $base_charctor_color;
    }
    .feeling, .empty-feeling {
        width: 100%;
        position: relative;
        text-align: center;
        @media #{$small} {
            height: 100%;
            top: 4px;
            &.good {
                background: url(/images/good_64_scale_down.png) no-repeat center;
                background-size: 32px 32px;
            }
            &.normal {
                background: url(/images/normal_64_scale_down.png) no-repeat center;
                background-size: 32px 32px;
            }
            &.bad {
                background: url(/images/bad_64_scale_down.png) no-repeat center;
                background-size: 32px 32px;
            }
            &.none {
                background: url(/images/none_64_scale_down.png) no-repeat center;
                background-size: 32px 32px;
            }
        }
        @media #{$large} {
            height: 64px;
            top: 17px;
            &.good {
                background: url(/images/good_64.png) no-repeat center;
            }
            &.normal {
                background: url(/images/normal_64.png) no-repeat center;
            }
            &.bad {
                background: url(/images/bad_64.png) no-repeat center;
            }
            &.none {
                background: url(/images/none_64.png) no-repeat center;
            }
        }
    }
    .date {
        width: 100%;
        float: left;
        position: relative;
        top: 0px;
        font-family: 'Quicksand', sans-serif;
        @media #{$small} {
            font-size: 10px;
        }
        @media #{$large} {
            font-size: 20px;
            margin-bottom: 2px;
        }
        text-align: right;
    }
    .feeling-text {
        position: relative;
        top: 18px;
        text-align: center;
        @media #{$small} {
            display: none;
        }
        @media #{$large} {
            font-size: 15px;
        }
    }
    #day {
        clear: both;
        div {
            @media #{$small} {
                width: 30px;
                font-size: 11px;
                padding: 5px;
                margin: 2px 2px;
            }
            @media #{$large} {
                width: 100px;
                font-size: 15px;
                padding: 10px;
                margin: 3px 3px;
            }
            float: left;
            background-color: rgba(255,255,255,0.50);
            color: $base_charctor_color;
            text-align: center;
            &.sun {
                color: #BF4245;
            }
            &.sat {
                color: #5287F2;
            }
        }
    }
}
