/* line 6, picob.entry.scss */
#container #left-container {
  float: left;
  padding: 10px;
  width: 430px;
  height: 600px;
  background-color: #146EA6;
  color: #FFFFFF;
}
/* line 13, picob.entry.scss */
#container #left-container #feeling {
  height: 250px;
}
/* line 15, picob.entry.scss */
#container #left-container #feeling.good {
  background: url(/images/good_selected_256.png) no-repeat center;
}
/* line 18, picob.entry.scss */
#container #left-container #feeling.normal {
  background: url(/images/normal_selected_256.png) no-repeat center;
}
/* line 21, picob.entry.scss */
#container #left-container #feeling.bad {
  background: url(/images/bad_selected_256.png) no-repeat center;
}
/* line 24, picob.entry.scss */
#container #left-container #feeling.none {
  background: url(/images/none_256.png) no-repeat center;
}
/* line 28, picob.entry.scss */
#container #left-container #friends-feeling {
  margin-top: 20px;
}
/* line 30, picob.entry.scss */
#container #left-container #friends-feeling .feeling-container {
  padding: 5px 0px;
}
/* line 32, picob.entry.scss */
#container #left-container #friends-feeling .feeling-container .feeling-label {
  font-size: 20px;
}
/* line 35, picob.entry.scss */
#container #left-container #friends-feeling .feeling-container .user-icon {
  margin: 0px 2px;
}
/* line 41, picob.entry.scss */
#container #right-container {
  float: left;
  width: 450px;
  height: 600px;
}
/* line 45, picob.entry.scss */
#container #right-container #date {
  padding: 10px;
  height: 100px;
  background-color: #2192BF;
  color: #FFFFFF;
  font-size: 65px;
}
/* line 52, picob.entry.scss */
#container #right-container #feeling-text {
  padding: 10px;
  height: 100px;
  background-color: #36A6BF;
  color: #FFFFFF;
  font-size: 65px;
}
/* line 59, picob.entry.scss */
#container #right-container #feeling-text-selector {
  height: 380px;
  padding-left: 20px;
  background-color: #36A6BF;
}
/* line 63, picob.entry.scss */
#container #right-container #feeling-text-selector .feeling-group-title {
  clear: both;
  font-size: 25px;
  color: #FFFFFF;
}
/* line 68, picob.entry.scss */
#container #right-container #feeling-text-selector .feeling-text-container {
  margin: 5px 10px 20px 10px;
  font-size: 20px;
}
/* line 71, picob.entry.scss */
#container #right-container #feeling-text-selector .feeling-text-container .feeling-text-choices {
  float: left;
  margin-right: 10px;
  padding: 5px 10px;
  border: solid 2px #FFFFFF;
}
/* line 76, picob.entry.scss */
#container #right-container #feeling-text-selector .feeling-text-container .feeling-text-choices.active {
  background-color: #2968D2;
  color: #FFFFFF;
}
/* line 80, picob.entry.scss */
#container #right-container #feeling-text-selector .feeling-text-container .feeling-text-choices.inactive {
  background-color: #FFFFFF;
  color: #146EA6;
}
/* line 88, picob.entry.scss */
#container #bottom-container {
  clear: both;
  text-align: center;
  color: #FFFFFF;
  font-size: 50px;
}
/* line 93, picob.entry.scss */
#container #bottom-container div {
  float: left;
  padding: 10px;
}
/* line 97, picob.entry.scss */
#container #bottom-container a {
  display: block;
}
/* line 100, picob.entry.scss */
#container #bottom-container #prev-date {
  width: 280px;
  background-color: #84C9D9;
}
/* line 104, picob.entry.scss */
#container #bottom-container #next-date {
  width: 280px;
  background-color: #84C9D9;
}
/* line 108, picob.entry.scss */
#container #bottom-container #switch-calendar {
  width: 280px;
  background-color: #2192BF;
}

/* line 115, picob.entry.scss */
.feeling-selector {
  font-size: 20px;
  margin: 10px 0px;
  overflow: hidden;
}

/* line 121, picob.entry.scss */
.feeling-choices {
  float: left;
  height: 128px;
  width: 128px;
}
/* line 125, picob.entry.scss */
.feeling-choices.feeling-good {
  background: url(/images/good_128.png) no-repeat center;
}
/* line 128, picob.entry.scss */
.feeling-choices.feeling-good:hover {
  background: url(/images/good_hover_128.png) no-repeat center;
}
/* line 131, picob.entry.scss */
.feeling-choices.feeling-normal {
  background: url(/images/normal_128.png) no-repeat center;
}
/* line 134, picob.entry.scss */
.feeling-choices.feeling-normal:hover {
  background: url(/images/normal_hover_128.png) no-repeat center;
}
/* line 137, picob.entry.scss */
.feeling-choices.feeling-bad {
  background: url(/images/bad_128.png) no-repeat center;
}
/* line 140, picob.entry.scss */
.feeling-choices.feeling-bad:hover {
  background: url(/images/bad_hover_128.png) no-repeat center;
}

/* line 145, picob.entry.scss */
.feeling-text {
  text-align: center;
}
@media only screen and (max-width: 899px) {
  /* line 145, picob.entry.scss */
  .feeling-text {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  /* line 145, picob.entry.scss */
  .feeling-text {
    margin-top: 6px;
    font-size: 16px;
  }
}
