$small: "only screen and (max-width:899px)";
$large: "only screen and (min-width:900px)";
$base_charctor_color: #000000;

@font-face {
    font-family: 'FontelloFonts';
    src: url("../fonts/fontello.eot");
    src: url("../fonts/fontello.eot?#iefix") format('embedded-opentype'), url("../fonts/fontello.woff") format('woff'), url("../fonts/fontello.ttf") format('truetype'), url("../fonts/fontello.svg#fontello") format('svg');
}

.web-icon-fontello {
    font-family: 'FontelloFonts';
}

html, body {
}

html {
    background-color: #E3D8CB;
    overflow-y: scroll;
}

body {
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo UI', sans-serif;
    font-size: 13px;
    *font-size:small;
    *font:x-small;
}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

#container {
    margin: 0 auto;
    z-index: 1;
    @media #{$small} {
        width: 320px;
        margin-top: 50px;
    }
    @media #{$large} {
        width: 900px;
        margin-top: 70px;
    }
}

.link {
    cursor: pointer;
}
