@charset "UTF-8";
@font-face {
  font-family: 'FontelloFonts';
  src: url("../fonts/fontello.eot");
  src: url("../fonts/fontello.eot?#iefix") format("embedded-opentype"), url("../fonts/fontello.woff") format("woff"), url("../fonts/fontello.ttf") format("truetype"), url("../fonts/fontello.svg#fontello") format("svg");
}

/* line 11, picob.common.scss */
.web-icon-fontello {
  font-family: 'FontelloFonts';
}

/* line 18, picob.common.scss */
html {
  background-color: #E3D8CB;
  overflow-y: scroll;
}

/* line 23, picob.common.scss */
body {
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo UI', sans-serif;
  font-size: 13px;
  *font-size: small;
  *font: x-small;
}

/* line 30, picob.common.scss */
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

/* line 36, picob.common.scss */
#container {
  margin: 0 auto;
  margin-top: 10px;
}
@media only screen and (max-width: 899px) {
  /* line 36, picob.common.scss */
  #container {
    width: 320px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 36, picob.common.scss */
  #container {
    width: 900px;
  }
}

/* line 47, picob.common.scss */
.link {
  cursor: pointer;
}
