/* line 12, picob.scss */
#header {
  width: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
}
/* line 16, picob.scss */
#header #global-navi {
  margin: 0 auto;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 899px) {
  /* line 16, picob.scss */
  #header #global-navi {
    width: 320px;
    padding: 5px 5px 3px 5px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 16, picob.scss */
  #header #global-navi {
    width: 900px;
    padding: 10px 10px 5px 10px;
  }
}
/* line 28, picob.scss */
#header #global-navi #navi-left {
  float: left;
}
@media only screen and (max-width: 899px) {
  /* line 28, picob.scss */
  #header #global-navi #navi-left {
    width: 25%;
  }
}
@media only screen and (min-width: 900px) {
  /* line 28, picob.scss */
  #header #global-navi #navi-left {
    width: 33%;
  }
}
/* line 36, picob.scss */
#header #global-navi #navi-left #logo {
  font-family: 'Quicksand', sans-serif;
}
@media only screen and (max-width: 899px) {
  /* line 36, picob.scss */
  #header #global-navi #navi-left #logo {
    font-size: 25px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 36, picob.scss */
  #header #global-navi #navi-left #logo {
    font-size: 32px;
  }
}
/* line 46, picob.scss */
#header #global-navi #navi-center {
  float: left;
}
@media only screen and (max-width: 899px) {
  /* line 46, picob.scss */
  #header #global-navi #navi-center {
    width: 50%;
  }
}
@media only screen and (min-width: 900px) {
  /* line 46, picob.scss */
  #header #global-navi #navi-center {
    width: 34%;
    margin-top: 10px;
  }
}
/* line 57, picob.scss */
#header #global-navi #navi-right div, #header #global-navi #navi-bottom div {
  float: right;
}
/* line 60, picob.scss */
#header #global-navi #navi-right #today-button, #header #global-navi #navi-bottom #today-button {
  height: 50px;
  width: 50px;
  padding-top: 18px;
  background: url(/images/empty_calendar_128.gif) no-repeat center;
  background-size: 64px 64px;
  text-align: center;
  font-size: 20px;
  color: #029CCC;
  font-family: 'Quicksand', sans-serif;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 73, picob.scss */
#header #global-navi #navi-right {
  float: right;
  text-align: right;
}
@media only screen and (max-width: 899px) {
  /* line 73, picob.scss */
  #header #global-navi #navi-right {
    width: 25%;
  }
}
@media only screen and (min-width: 900px) {
  /* line 73, picob.scss */
  #header #global-navi #navi-right {
    width: 33%;
  }
}
/* line 82, picob.scss */
#header #global-navi #navi-right #logout-button {
  padding: 5px;
  border: none;
  background-color: #FFFFFF;
  color: #000000;
}
@media only screen and (max-width: 899px) {
  /* line 88, picob.scss */
  #header #global-navi #navi-right .tool-box {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  /* line 88, picob.scss */
  #header #global-navi #navi-right .tool-box {
    display: block;
  }
}
/* line 97, picob.scss */
#header #global-navi #navi-bottom {
  clear: both;
}
@media only screen and (max-width: 899px) {
  /* line 97, picob.scss */
  #header #global-navi #navi-bottom {
    display: block;
  }
}
@media only screen and (min-width: 900px) {
  /* line 97, picob.scss */
  #header #global-navi #navi-bottom {
    display: none;
  }
}

/* line 109, picob.scss */
#controler {
  width: 100%;
  overflow: hidden;
}
@media only screen and (max-width: 899px) {
  /* line 109, picob.scss */
  #controler {
    margin: 3px 0 0 10px;
  }
}
/* line 117, picob.scss */
#controler #controler-inner {
  overflow: hidden;
}
/* line 119, picob.scss */
#controler #controler-inner div {
  float: left;
}
@media only screen and (max-width: 899px) {
  /* line 122, picob.scss */
  #controler #controler-inner #month-controler {
    font-size: 20px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 122, picob.scss */
  #controler #controler-inner #month-controler {
    font-size: 23px;
    margin-left: 60px;
  }
}
/* line 130, picob.scss */
#controler #controler-inner #month-controler a, #controler #controler-inner #month-controler span {
  display: block;
  float: left;
}
/* line 134, picob.scss */
#controler #controler-inner #month-controler #next-month, #controler #controler-inner #month-controler #prev-month {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 899px) {
  /* line 134, picob.scss */
  #controler #controler-inner #month-controler #next-month, #controler #controler-inner #month-controler #prev-month {
    width: 15px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 134, picob.scss */
  #controler #controler-inner #month-controler #next-month, #controler #controler-inner #month-controler #prev-month {
    width: 35px;
  }
}
/* line 143, picob.scss */
#controler #controler-inner #month-controler #prev-month {
  text-align: left;
  padding-top: 1px;
}
@media only screen and (max-width: 899px) {
  /* line 143, picob.scss */
  #controler #controler-inner #month-controler #prev-month {
    padding-right: 2px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 143, picob.scss */
  #controler #controler-inner #month-controler #prev-month {
    padding-right: 12px;
  }
}
/* line 153, picob.scss */
#controler #controler-inner #month-controler #next-month {
  text-align: right;
  padding-top: 1px;
}
@media only screen and (max-width: 899px) {
  /* line 153, picob.scss */
  #controler #controler-inner #month-controler #next-month {
    padding-left: 2px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 153, picob.scss */
  #controler #controler-inner #month-controler #next-month {
    padding-left: 12px;
  }
}
/* line 163, picob.scss */
#controler #controler-inner #month-controler #current-ym {
  text-align: center;
  padding: 0px 3px;
  font-family: 'Quicksand', sans-serif;
}
@media only screen and (max-width: 899px) {
  /* line 163, picob.scss */
  #controler #controler-inner #month-controler #current-ym {
    width: 100px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 163, picob.scss */
  #controler #controler-inner #month-controler #current-ym {
    width: 100px;
  }
}

/* line 178, picob.scss */
#calendar {
  margin: 0 auto;
}
@media only screen and (max-width: 899px) {
  /* line 178, picob.scss */
  #calendar {
    width: 310px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 178, picob.scss */
  #calendar {
    width: 883px;
  }
}
/* line 186, picob.scss */
#calendar .week {
  clear: both;
}
/* line 189, picob.scss */
#calendar .piece, #calendar .empty-piece, #calendar .dummy-piece {
  float: left;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}
@media only screen and (max-width: 899px) {
  /* line 189, picob.scss */
  #calendar .piece, #calendar .empty-piece, #calendar .dummy-piece {
    width: 34px;
    height: 34px;
    padding: 3px;
    margin: 2px 2px;
  }
  /* line 195, picob.scss */
  #calendar .piece.good, #calendar .empty-piece.good, #calendar .dummy-piece.good {
    background-color: #01BCB6;
  }
  /* line 198, picob.scss */
  #calendar .piece.normal, #calendar .empty-piece.normal, #calendar .dummy-piece.normal {
    background-color: #FFB273;
  }
  /* line 201, picob.scss */
  #calendar .piece.bad, #calendar .empty-piece.bad, #calendar .dummy-piece.bad {
    background-color: #FF7373;
  }
}
@media only screen and (min-width: 900px) {
  /* line 189, picob.scss */
  #calendar .piece, #calendar .empty-piece, #calendar .dummy-piece {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 3px 3px;
  }
}
/* line 215, picob.scss */
#calendar .feeling, #calendar .empty-feeling {
  width: 100%;
  position: relative;
  text-align: center;
}
@media only screen and (max-width: 899px) {
  /* line 215, picob.scss */
  #calendar .feeling, #calendar .empty-feeling {
    height: 100%;
    top: 4px;
  }
  /* line 222, picob.scss */
  #calendar .feeling.good, #calendar .empty-feeling.good {
    background: url(/images/good_64_scale_down.png) no-repeat center;
    background-size: 32px 32px;
  }
  /* line 226, picob.scss */
  #calendar .feeling.normal, #calendar .empty-feeling.normal {
    background: url(/images/normal_64_scale_down.png) no-repeat center;
    background-size: 32px 32px;
  }
  /* line 230, picob.scss */
  #calendar .feeling.bad, #calendar .empty-feeling.bad {
    background: url(/images/bad_64_scale_down.png) no-repeat center;
    background-size: 32px 32px;
  }
  /* line 234, picob.scss */
  #calendar .feeling.none, #calendar .empty-feeling.none {
    background: url(/images/none_64_scale_down.png) no-repeat center;
    background-size: 32px 32px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 215, picob.scss */
  #calendar .feeling, #calendar .empty-feeling {
    height: 64px;
    top: 17px;
  }
  /* line 242, picob.scss */
  #calendar .feeling.good, #calendar .empty-feeling.good {
    background: url(/images/good_64.png) no-repeat center;
  }
  /* line 245, picob.scss */
  #calendar .feeling.normal, #calendar .empty-feeling.normal {
    background: url(/images/normal_64.png) no-repeat center;
  }
  /* line 248, picob.scss */
  #calendar .feeling.bad, #calendar .empty-feeling.bad {
    background: url(/images/bad_64.png) no-repeat center;
  }
  /* line 251, picob.scss */
  #calendar .feeling.none, #calendar .empty-feeling.none {
    background: url(/images/none_64.png) no-repeat center;
  }
}
/* line 256, picob.scss */
#calendar .date {
  width: 100%;
  float: left;
  position: relative;
  top: 0px;
  font-family: 'Quicksand', sans-serif;
  text-align: right;
}
@media only screen and (max-width: 899px) {
  /* line 256, picob.scss */
  #calendar .date {
    font-size: 10px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 256, picob.scss */
  #calendar .date {
    font-size: 20px;
    margin-bottom: 2px;
  }
}
/* line 271, picob.scss */
#calendar .feeling-text {
  position: relative;
  top: 18px;
  text-align: center;
}
@media only screen and (max-width: 899px) {
  /* line 271, picob.scss */
  #calendar .feeling-text {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  /* line 271, picob.scss */
  #calendar .feeling-text {
    font-size: 15px;
  }
}
/* line 282, picob.scss */
#calendar #day {
  clear: both;
}
/* line 284, picob.scss */
#calendar #day div {
  float: left;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  text-align: center;
}
@media only screen and (max-width: 899px) {
  /* line 284, picob.scss */
  #calendar #day div {
    width: 30px;
    font-size: 11px;
    padding: 5px;
    margin: 2px 2px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 284, picob.scss */
  #calendar #day div {
    width: 100px;
    font-size: 15px;
    padding: 10px;
    margin: 3px 3px;
  }
}
/* line 301, picob.scss */
#calendar #day div.sun {
  color: #BF4245;
}
/* line 304, picob.scss */
#calendar #day div.sat {
  color: #5287F2;
}
