$small: "only screen and (max-width:899px)";
$large: "only screen and (min-width:900px)";
$base_charctor_color: #000000;

#container {
    #left-container {
        float: left;
        padding: 10px;
        width: 430px;
        height: 600px;
        background-color: #146EA6;
        color: #FFFFFF;
        #feeling {
            height: 250px;
            text-align: center;
            font-size: 200px;
        }
        #friends-feeling {
            margin-top: 20px;
            .feeling-container {
                padding: 5px 0px;
                .feeling-label {
                    font-size: 20px;
                }
                .user-icon {
                    margin: 0px 2px;
                }
            }
        }
    }
    #right-container {
        float: left;
        width: 450px;
        height: 600px;
        #date {
            padding: 10px;
            height: 100px;
            background-color: #2192BF;
            color: #FFFFFF;
            font-size: 65px;
        }
        #feeling-text {
            padding: 10px;
            height: 100px;
            background-color: #36A6BF;
            color: #FFFFFF;
            font-size: 65px;
        }
        #feeling-text-selector {
            height: 380px;
            padding-left: 20px;
            background-color: #36A6BF;
            .feeling-group-title {
                clear: both;
                font-size: 25px;
                color: #FFFFFF;
            }
            .feeling-text-container {
                margin: 5px 10px 20px 10px;
                font-size: 20px;
                .feeling-text-choices {
                    float: left;
                    margin-right: 10px;
                    padding: 5px 10px;
                    border: solid 2px #FFFFFF;
                    &.active {
                        background-color: #2968D2;
                        color: #FFFFFF;
                    }
                    &.inactive {
                        background-color: #FFFFFF;
                        color: #146EA6;
                    }
                }
            }
        }
    }
    #bottom-container {
        clear: both;
        text-align: center;
        color: #FFFFFF;
        font-size: 50px;
        div {
            float: left;
            padding: 10px;
        }
        a {
            display: block;
        }
        #prev-date {
            width: 280px;
            background-color: #84C9D9;
        }
        #next-date {
            width: 280px;
            background-color: #84C9D9;
        }
        #switch-calendar {
            width: 280px;
            background-color: #2192BF;
        }
    }
}

.feeling-selector {
    font-size: 20px;
    margin: 10px 0px;
    overflow: hidden;
}

.feeling-choices {
    float: left;
    padding: 12px 20px;
    margin: 0px 10px;
    border: solid 4px #FFFFFF;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 80px;
}

.feeling-text {
    text-align: center;
    @media #{$small} {
        display: none;
    }
    @media #{$large} {
        margin-top: 6px;
        font-size: 16px;
    }
}
