$small: "only screen and (max-width:899px)";
$large: "only screen and (min-width:900px)";
$base_charctor_color: #000000;
@mixin box-shadow($settings...) {
    -moz-box-shadow: $settings;
    -webkit-box-shadow: $settings;
    box-shadow: $settings;
}
@mixin border-radius($settings...) {
    -webkit-border-radius: $settings;
    -moz-border-radius: $settings;
    border-radius: $settings;
}
@mixin box-sizing() {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body > #container {
    height: auto;
}

#container {
    height: 100%;
    min-height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0 20px 0;
    background-color: rgba(255,255,255,0.70);
    @include box-sizing();
    #main-logo {
        margin: 20px auto;
        background: url(/images/main-logo.png) no-repeat;
        @media #{$small} {
            height: 70px;
            width: 200px;
            background-size: 200px 70px;
        }
        @media #{$large} {
            height: 106px;
            width: 310px;
            background-size: 310px 106px;
        }
    }
    #catch-copy, #catch-copy-mini {
        margin-bottom: 30px;
        text-align: center;
        @media #{$small} {
            padding: 0 20px;
            line-height: 1.4em;
            font-size: 22px;
        }
        @media #{$large} {
            font-size: 30px;
        }
    }
    #catch-copy {
        @media #{$small} {
            display: none;
        }
    }
    #catch-copy-mini {
        @media #{$large} {
            display: none;
        }
    }
    #login-control {
        overflow: hidden;
        margin: 0 auto;
        @media #{$small} {
            width: 300px;
        }
        @media #{$large} {
            width: 500px;
        }
        #twitter-login-button, #facebook-login-button {
            padding: 12px 0px;
            border: none;
            font-size: 17px;
            color: #FFFFFF;
            cursor: pointer;
            outline: none;
            &::-moz-focus-inner {
                border: 0px;
            }
            @media #{$small} {
                width: 300px;
            }
            @media #{$large} {
                width: 250px;
                float: left;
            }
        }
        #twitter-login-button {
            background: #00ACEE url(/images/twitter.gif) no-repeat 3px center;
            background-size: 42px 42px;
            @media #{$small} {
                margin: 0 auto 7px auto;
                @include border-radius(10px 10px 10px 10px);
            }
            @media #{$large} {
                @include border-radius(10px 0 0 10px);
            }
        }
        #facebook-login-button {
            background: #3D5A99 url(/images/facebook.gif) no-repeat 3px center;
            background-size: 42px 42px;
            @media #{$small} {
                margin: 0 auto 7px auto;
                @include border-radius(10px 10px 10px 10px);
            }
            @media #{$large} {
                @include border-radius(0 10px 10px 0);
            }
        }
    }
    #introduction {
        clear: both;
        margin-top: 40px;
        text-align: center;
        #question-mark {
            height: 48px;
            width: 48px;
            margin: 0 auto 15px auto;
            background: #FF7373 url(/images/question.gif) no-repeat center;
            background-size: 32px 32px;
            @include border-radius(24px);
        }
        .caption {
            margin-bottom: 15px;
            @media #{$small} {
                font-size: 22px;
            }
            @media #{$large} {
                font-size: 25px;
            }
        }
        .text {
            line-height: 170%;
            @media #{$small} {
                padding: 0 20px;
                font-size: 15px;
            }
            @media #{$large} {
                font-size: 17px;
            }
        }
        #application-image {
            margin: 30px auto 0 auto;
            @media #{$small} {
                width: 320px;
            }
            @media #{$large} {
                overflow: hidden;
                width: round(283px * 1 / 2) + round(560px * 2 / 3) + 20px;
            }
            #iphone {
                @media #{$small} {
                    height: round(560px * 2 / 5);
                    width: 320px;
                    background: url(/images/iphone-1024.png) no-repeat center;
                    background-size: round(283px * 2 / 5) round(560px * 2 / 5);
                }
                @media #{$large} {
                    float: left;
                    height: round(560px * 1 / 2);
                    width: round(283px * 1 / 2);
                    background: url(/images/iphone-1024.png) no-repeat center;
                    background-size: round(283px * 1 / 2) round(560px * 1 / 2);
                }
            }
            #mac {
                @media #{$small} {
                    height: round(326px * 1 / 2);
                    width: 320px;
                    margin-top: 30px;
                    background: url(/images/mac-1440x900.png) no-repeat center;
                    background-size: round(560px * 1 / 2) round(326px * 1 / 2);
                }
                @media #{$large} {
                    float: left;
                    height: round(326px * 2 / 3);
                    width: round(560px * 2 / 3);
                    margin: 30px 0 0 20px;
                    background: url(/images/mac-1440x900.png) no-repeat center;
                    background-size: round(560px * 2 / 3 + 1) round(326px * 2 / 3 + 1);
                }
            }
        }
    }
}
