/* line 8, picob.scss */
.week {
  clear: both;
}

/* line 12, picob.scss */
.piece, .empty-piece, .dummy-piece {
  float: left;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}
@media only screen and (max-width: 899px) {
  /* line 12, picob.scss */
  .piece, .empty-piece, .dummy-piece {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 2px 2px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 12, picob.scss */
  .piece, .empty-piece, .dummy-piece {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 3px 3px;
  }
}

/* line 30, picob.scss */
.feeling, .empty-feeling {
  height: 64px;
  width: 64px;
  text-align: center;
}
@media only screen and (max-width: 899px) {
  /* line 30, picob.scss */
  .feeling, .empty-feeling {
    font-size: 14px;
    position: relative;
    top: -2px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 30, picob.scss */
  .feeling, .empty-feeling {
    font-size: 40px;
  }
}
/* line 42, picob.scss */
.feeling.good, .empty-feeling.good {
  background: url(/images/good_64.png) no-repeat center;
}
/* line 45, picob.scss */
.feeling.normal, .empty-feeling.normal {
  background: url(/images/normal_64.png) no-repeat center;
}
/* line 48, picob.scss */
.feeling.bad, .empty-feeling.bad {
  background: url(/images/bad_64.png) no-repeat center;
}
/* line 51, picob.scss */
.feeling.none, .empty-feeling.none {
  background: url(/images/none_64.png) no-repeat center;
}

/* line 56, picob.scss */
.date {
  text-align: right;
}
@media only screen and (max-width: 899px) {
  /* line 56, picob.scss */
  .date {
    font-size: 12px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 56, picob.scss */
  .date {
    font-size: 28px;
    margin-bottom: 2px;
  }
}

/* line 67, picob.scss */
.feeling-selector {
  font-size: 20px;
  margin: 10px 0px;
  overflow: hidden;
}
/* line 71, picob.scss */
.feeling-selector .feeling-choices {
  display: block;
  float: left;
  padding: 7px;
  margin: 0px 2px;
  border: solid 1px #000000;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 5px;
  font-size: 15px;
}

/* line 85, picob.scss */
.feeling-text {
  text-align: center;
}
@media only screen and (max-width: 899px) {
  /* line 85, picob.scss */
  .feeling-text {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  /* line 85, picob.scss */
  .feeling-text {
    margin-top: 6px;
    font-size: 16px;
  }
}

/* line 96, picob.scss */
#day {
  clear: both;
}
/* line 98, picob.scss */
#day div {
  float: left;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  text-align: center;
}
@media only screen and (max-width: 899px) {
  /* line 98, picob.scss */
  #day div {
    width: 30px;
    font-size: 11px;
    padding: 5px;
    margin: 2px 2px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 98, picob.scss */
  #day div {
    width: 100px;
    font-size: 15px;
    padding: 10px;
    margin: 3px 3px;
  }
}
/* line 115, picob.scss */
#day div.holiday {
  color: #BF4245;
}

/* line 122, picob.scss */
#controler div {
  float: left;
}
/* line 125, picob.scss */
#controler #month-controler {
  margin: 3px 3px;
  background-color: #FFFFFF;
  font-size: 18px;
}
/* line 129, picob.scss */
#controler #month-controler a {
  display: block;
  float: left;
}
/* line 133, picob.scss */
#controler #month-controler #next-month, #controler #month-controler #prev-month {
  padding: 7px 8px;
  margin: 3px 0px;
}
/* line 137, picob.scss */
#controler #month-controler #current-ym {
  margin: 3px 3px;
}

/* line 143, picob.scss */
#form-window {
  display: none;
  padding: 20px 30px;
  background-color: #D1D1D1;
}
/* line 149, picob.scss */
#form-window #feeling-text-container {
  margin: 5px 10px 20px 10px;
  font-size: 16px;
}
/* line 152, picob.scss */
#form-window #feeling-text-container .feeling-group-title {
  font-size: 20px;
}
/* line 156, picob.scss */
#form-window #feeling-text-container .feeling-text-choices.active {
  background-color: #2968D2;
}
/* line 159, picob.scss */
#form-window #feeling-text-container .feeling-text-choices.inactive {
  background-color: transparent;
}
