@charset "UTF-8";
@font-face {
  font-family: 'FontelloFonts';
  src: url("../fonts/fontello.eot");
  src: url("../fonts/fontello.eot?#iefix") format("embedded-opentype"), url("../fonts/fontello.woff") format("woff"), url("../fonts/fontello.ttf") format("truetype"), url("../fonts/fontello.svg#fontello") format("svg");
}

/* line 11, picob.common.scss */
.web-icon-fontello {
  font-family: 'FontelloFonts';
}

/* line 15, picob.common.scss */
html, body {
  height: 100%;
}

/* line 19, picob.common.scss */
html {
  overflow: scroll;
  overflow: -moz-scrollbars-vertical;
  overflow-x: scroll;
  background-color: #E3D8CB;
}

/* line 26, picob.common.scss */
body {
  padding: 10px;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', meiryo, 'メイリオ', sans-serif;
  font-size: 13px;
  *font-size: small;
  *font: x-small;
}

/* line 34, picob.common.scss */
#container {
  margin: 0 auto;
}
@media only screen and (max-width: 899px) {
  /* line 34, picob.common.scss */
  #container {
    width: 320px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 34, picob.common.scss */
  #container {
    width: 900px;
  }
}
