$small: "only screen and (max-width:899px)";
$large: "only screen and (min-width:900px)";
$base_charctor_color: #000000;
@mixin box-shadow($settings...) {
    -moz-box-shadow: $settings;
    -webkit-box-shadow: $settings;
    box-shadow: $settings;
}
@mixin border-radius($settings...) {
    -webkit-border-radius: $settings;
    -moz-border-radius: $settings;
    border-radius: $settings;
}
@mixin box-sizing() {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'FontelloFonts';
    src: url("../fonts/fontello.eot");
    src: url("../fonts/fontello.eot?#iefix") format('embedded-opentype'), url("../fonts/fontello.woff") format('woff'), url("../fonts/fontello.ttf") format('truetype'), url("../fonts/fontello.svg#fontello") format('svg');
}

.web-icon-fontello {
    font-family: 'FontelloFonts';
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


html {
    background-color: #E3D8CB;
    overflow-y: scroll;
}

body {
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo UI', sans-serif;
    font-size: 13px;
    *font-size:small;
    *font:x-small;
}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    &:link {
        color: #000000;
    }
    &:visited {
        color: #000000;
    }
    &:hover {
        color: #000000;
    }
    &:active {
        color: #000000;
    }
}

#header {
    width: 100%;
    background-color: #FFFFFF;
    #global-navi {
        margin: 0 auto;
        @include box-sizing();
        @media #{$small} {
            height: 90px;
            width: 320px;
            padding: 5px 5px 3px 5px;
        }
        @media #{$large} {
            height: 65px;
            width: 900px;
            padding: 10px 10px 5px 10px;
        }
        #navi-left {
            float: left;
            @media #{$small} {
                width: 25%;
            }
            @media #{$large} {
                width: 33%;
            }
            #logo {
                font-family: 'Quicksand', sans-serif;
                @media #{$small} {
                    font-size: 25px;
                }
                @media #{$large} {
                    font-size: 32px;
                }
            }
        }
        #navi-center {
            float: left;
            @media #{$small} {
                width: 50%;
            }
            @media #{$large} {
                width: 34%;
                margin-top: 5px;
            }
        }
        #navi-right, #navi-bottom {
            #today-button {
                height: 50px;
                width: 55px;
                text-align: center;
                font-family: 'Quicksand', sans-serif;
                @include box-sizing();
                .caption {
                    width: 100%;
                    border: 1px solid #029CCC;
                    background-color: #029CCC;
                    font-size: 16px;
                    color: #FFFFFF;
                    @include border-radius(12px 12px 0 0);
                }
                .date {
                    width: 55px;
                    margin: 0 auto;
                    color: #029CCC;
                    font-size: 20px;
                    border-bottom: 1px solid #029CCC;
                    border-left: 1px solid #029CCC;
                    border-right: 1px solid #029CCC;
                    @include border-radius(0 0 12px 12px);
                }
                @media #{$small} {
                    margin: 5px 0;
                }
            }
            .login-user-icon {
                float: right;
                position: relative;
                cursor: pointer;
                @media #{$small} {
                    margin-top: 2px;
                }
                @media #{$large} {
                    margin-left: 10px;
                }
                img {
                    float: left;
                    @include border-radius(12px);
                    @media #{$small} {
                        width: 32px;
                    }
                    @media #{$large} {
                        width: 45px;
                    }
                }
                .down-mark {
                    float: right;
                    width: 15px;
                    height: 15px;
                    background: url(/images/down_256.png) no-repeat center;
                    background-size: 24px 24px;
                    @media #{$small} {
                        margin-top: 9px;
                    }
                    @media #{$large} {
                        margin-top: 15px;
                    }
                }
                .user-menu {
                    width: 120px;
                    position: absolute;
                    top: 35px;
                    background-color: #FFFFFF;
                    border: 1px solid #C4C4C4;
                    text-align: left;
                    font-size: 14px;
                    @include border-radius(5px);
                    @include box-sizing();
                    @media #{$small} {
                        left: 40px - 120px;
                        margin: 2px 5px;
                    }
                    @media #{$large} {
                        left: 54px - 120px;
                        margin: 15px 5px;
                    }
                    &.inactive {
                        display: none;
                    }
                    &.active {
                        display: block;
                    }
                    a {
                        display: block;
                    }
                    li {
                        padding: 7px 15px;
                        cursor: pointer;
                        &:hover {
                            background-color: #FFB273;
                            a {
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
        #navi-right {
            float: right;
            text-align: right;
            @media #{$small} {
                width: 25%;
            }
            @media #{$large} {
                width: 33%;
            }
            #logout-button {
                float: right;
                padding: 5px;
                background: url(/images/logout_256.png) no-repeat center;
                background-size: 38px 38px;
                @media #{$small} {
                    width: 32px;
                    height: 32px;
                    margin-top: 2px;
                }
                @media #{$large} {
                    width: 38px;
                    height: 38px;
                    margin: 5px 0 0 10px;
                }
            }
            #today-button {
                float: right;
                @media #{$small} {
                    display: none;
                }
                @media #{$large} {
                    display: block;
                }
            }
            #header-login-button {
                float: right;
                cursor: pointer;
                @include box-sizing();
                @media #{$small} {
                    height: 30px;
                    padding: 3px 15px;
                }
                @media #{$large} {
                    height: 50px;
                    padding: 10px 15px;
                }
                .text {
                    position: relative;
                    top: 5%;
                    font-family: 'Quicksand', sans-serif;
                    font-size: 17px;
                }
            }
        }
        #navi-bottom {
            clear: both;
            @media #{$small} {
                display: block;
            }
            @media #{$large} {
                display: none;
            }
            #today-button {
                margin: 0 auto;
            }
        }
    }
}

#target-user-info {
    overflow: hidden;
    @include box-sizing();
    @media #{$small} {
        height: 44px;
        padding: 6px 6px;
    }
    @media #{$large} {
        width: 300px;
        height: 65px;
        padding: 10px 0 0 10px;
    }
    background-color: rgba(255,255,255,0.70);
    .target-user-icon {
        float: left;
        img {
            float: left;
            @include border-radius(12px);
            @media #{$small} {
                width: 32px;
            }
            @media #{$large} {
                width: 45px;
            }
        }
    }
    .target-user-name {
        float: left;
        padding-left: 10px;
        position: relative;
        font-size: 17px;
        font-family: 'Quicksand', sans-serif;
        @media #{$small} {
            top: 15%;
        }
        @media #{$large} {
            top: 22%;
        }
        .name-text {
            display: block;
            overflow: hidden;
            @media #{$small} {
                width: 250px;
            }
            @media #{$large} {
                width: 225px;
            }
        }
    }
}

.calendar #target-user-info {
    @media #{$small} {
        margin: 0px 9px 3px 7px;
    }
    @media #{$large} {
        margin: 0px 0px 3px 12px;
    }
}

.entry #target-user-info {
    margin-bottom: 10px;
    @media #{$large} {
        margin-left: 0px;
    }
}

#controler {
    width: 100%;
    overflow: hidden;
    @media #{$small} {
        margin: 3px 0 0 10px;
    }
    @media #{$large} {
    }
    #controler-inner {
        overflow: hidden;
        div {
            float: left;
        }
        #month-controler {
            @media #{$small} {
                font-size: 23px;
            }
            @media #{$large} {
                font-size: 30px;
                margin-left: 50px;
            }
            a, span {
                display: block;
                float: left;
            }
            #next-month, #prev-month {
                @include box-sizing();
                @media #{$small} {
                    margin-top: 5px;
                    height: 18px;
                    width: 18px;
                }
                @media #{$large} {
                    margin-top: 6px;
                    height: 24px;
                    width: 24px;
                }
            }
            #prev-month {
                text-align: left;
                padding-top: 1px;
                background: url(/images/prev_256.gif) #01BCB6 no-repeat -4px -3px;
                @media #{$small} {
                    padding-right: 2px;
                    background-position: -3px -2px;
                    background-size: 23px 23px;
                    @include border-radius(9px 9px 9px 9px);
                }
                @media #{$large} {
                    padding-right: 12px;
                    background-position: -4px -3px;
                    background-size: 30px 30px;
                    @include border-radius(12px 12px 12px 12px);
                }
                &.inactive {
                    background-color: #ADADAD;
                }
            }
            #next-month {
                text-align: right;
                padding-top: 1px;
                background: url(/images/next_256.gif) #FF7373 no-repeat;
                @media #{$small} {
                    padding-left: 2px;
                    background-position: -2px -2px;
                    background-size: 23px 23px;
                    @include border-radius(9px 9px 9px 9px);
                }
                @media #{$large} {
                    padding-left: 12px;
                    background-position: -2px -3px;
                    background-size: 30px 30px;
                    @include border-radius(12px 12px 12px 12px);
                }
                &.inactive {
                    background-color: #ADADAD;
                }
            }
            #current-ym {
                text-align: center;
                @media #{$small} {
                    width: 100px;
                }
                @media #{$large} {
                    width: 140px;
                }
                padding: 0px 3px;
                font-family: 'Quicksand', sans-serif;
            }
        }
    }
}

#container {
    margin: 0 auto;
    margin-top: 10px;
    @media #{$small} {
        width: 320px;
    }
    @media #{$large} {
        width: 900px;
    }
}

.link {
    cursor: pointer;
}
